<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>庄尼与恐龙</title>
</head>
<body>
<style>
    img{
        /*position:absolute;*/
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        margin:0;
    }
</style>
<picture>
<source srcset="/zhuangniyukonglong/x600.jpg" media="(max-width: 600px)">
<source srcset="/zhuangniyukonglong/x800.jpg" media="(max-width: 800px)">
<img srcset="/zhuangniyukonglong/x1024.jpg" alt="庄尼与恐龙">
</picture>
</body>
</html>