<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>hhhh</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script th:inline="javascript">
    //  <![CDATA[
    var chart;

    function dateFormat(datestamp) {
        var date = new Date(datestamp);
        this.year = date.getFullYear();
        this.month = date.getMonth() + 1;
        this.date = date.getDate();
        this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
        this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        var time = this.year + "年" + this.month + "月" + this.date + "日 " + this.hour + "时" + this.minute + "分" + this.second + "秒 " + this.day;

        return time;
    }

    function getdata(from, to) {
        $.getJSON('data?from=' + from + "&to=" + to, function (data) {
            chart.hideLoading();
            var browsers = [];
            //迭代，把异步获取的数据放到数组中
            $.each(data, function (i, d) {
                browsers.push([d.time, d.data]);
            });
            createChart();

            //设置数据
            chart.series[0].setData(browsers);
        });
    }

    createChart();
    getdata(0, 0);

    function createChart() {
        chart = new Highcharts.chart('container', {
            chart: {
                zoomType: 'x',
                events: {
                    selection: function (e) {
                        chart.showLoading();
                        getdata(e.xAxis[0].min, e.xAxis[0].max);
                    }
                }, resetZoomButton: {
                    theme: {
                        display: 'none'
                    }
                },

            },

            title: {
                text: '服务端取数据用于缩放取数据的示例'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    formatter: function () {
                        return dateFormat(this.value);
                    },

                }
            },
            yAxis: {
                title: {
                    text: 'Exchange rate'
                },
                min: 0
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        // linearGradient: {
                        //     x1: 0,
                        //     y1: 0,
                        //     x2: 0,
                        //     y2: 1
                        // },
                        // stops: [
                        //     [0, Highcharts.getOptions().colors[0]],
                        //     [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        // ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }

            },

            exporting: {
                chartOptions: {
                    annotationsOptions: {
                        enabledButtons: false
                    }
                },
            },
            series: [{
                type: 'area',
                name: '数据',
                animation: false
            }]
        });
    }

    // ]]>
</script>
</body>
</html>